<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/static/js/doctor_dashboard.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Doctor Deșbord</title>
</head>
<body>
<h1>Doctor Deșbord</h1>
<div ng-app="doctorDashboardApp" ng-controller="doctorDashboardController" style="font-family: Calibri, sans-serif">

    <ul>
        <li>Name | {{ userInfo[0].name }}</li>
        <li>Email | {{ userInfo[0].email }}</li>
        <li>Hospital | {{ userInfo[0].hospital }}</li>
    </ul>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Priority</th>
            <th>Blood</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="r in requests" ng-click="showStatusUpdates(r.request_id)">
            <td>{{ r.request_id }}</td>
            <td>{{ r.priority }}</td>
            <td>{{ r.blood }}</td>
            <td>{{ r.quantity }}</td>
            <td>{{ r.status }}</td>
            <td>{{ r.date }}</td>
        </tr>
    </table>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Previous</th>
            <th>Current</th>
            <th>Personnel</th>
        </tr>
        <tr ng-repeat="su in status_updates">
            <td>{{ su.date }}</td>
            <td>{{ su.previous }}</td>
            <td>{{ su.current }}</td>
            <td>{{ su.personnel_id }}</td>
        </tr>
    </table>

    <form ng-submit="updatePriority()">
        Request ID <input type="text" ng-model="requestID">
        Priority <input type="text" ng-model="newPriority">
        <input type="submit">
    </form>
    <form ng-submit="newRequest()">
        Priority <input type="text" ng-model="requestPriority">
        Blood Type <select ng-model="requestBloodType">
            <option value="0">A+</option>
            <option value="1">A-</option>
            <option value="2">B+</option>
            <option value="3">B-</option>
            <option value="4">AB+</option>
            <option value="5">AB-</option>
            <option value="6">0+</option>
            <option value="7">0-</option>
        </select>
        Quantity <input type="text" ng-model="requestQuantity">
        <input type="submit">
    </form>
</div>
</body>
</html>