<!DOCTYPE HTML>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="static/js/donor_dashboard.js"></script>
<head>
    <title>FLOW.</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="static/donor/assets/css/main.css"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper" ng-app="donorDashboardApp" ng-controller="donorDashboardController">

    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="index.html">FLOW.</a></h1>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <div class="inner">
            <h2>Menu</h2>
            <ul class="links">
                <li><a>Logout</a></li>
            </ul>
            <a href="#" class="close">Close</a>
        </div>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-tint"></span></div>
            <h2>Welcome to FLOW.</h2>
            <p>mesaj inspirational</p>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="static/donor/images/pic01.jpg" alt=""/></a>
                <div class="content">
                    <h2 class="major">{{ userInfo[0].name }}</h2>
                    <p>{{ userInfo[0].date_of_birth }}</p>
                    <p>{{ userInfo[0].address }}</p>
                    <p>Blood | {{ userInfo[0].blood }}</p>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <section id="footer">
            <div class="inner">
                <h2 class="major">Your donations</h2>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Personnel</th>
                            <th>Date</th>
                            <th>Blood</th>
                            <th>Expire Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in donations" ng-click="showLabs(d.donation_id)">
                            <td>{{ d.donation_id }}</td>
                            <td>{{ d.personnel }}</td>
                            <td>{{ d.date }}</td>
                            <td>{{ d.blood }}</td>
                            <td>{{ d.expire_date }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-style="{visibility: has_labs ? 'visible' : 'hidden'}">
                        <h2 class="major">Lab results</h2>

                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" onclick="return false;" id="demo-human" name="demo-human"
                                   ng-checked="labs[0].syph ? 'checked' : ''">
                            <label for="demo-human"><p ng-style="{color: labs[0].syph ? 'red' : 'green'}">Syphilis</p>
                            </label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" onclick="return false;" id="demo-human" name="demo-human"
                                   ng-checked="labs[0].hbv ? 'checked' : ''">
                            <label for="demo-human"><p ng-style="{color: labs[0].hbv ? 'red' : 'green'}">HBV</p></label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" onclick="return false;" id="demo-human" name="demo-human"
                                   ng-checked="labs[0].hiv ? 'checked' : ''">
                            <label for="demo-human"><p ng-style="{color: labs[0].hiv ? 'red' : 'green'}">HIV</p></label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" onclick="return false;" id="demo-human" name="demo-human"
                                   ng-checked="labs[0].hev ? 'checked' : ''">
                            <label for="demo-human"><p ng-style="{color: labs[0].hev ? 'red' : 'green'}">HEV</p></label>
                        </div>
                        <div class="6u$ 12u$(small)">
                            <input type="checkbox" onclick="return false;" id="demo-human" name="demo-human"
                                   ng-checked="labs[0].htlv ? 'checked' : ''">
                            <label for="demo-human"><p ng-style="{color: labs[0].htlv ? 'red' : 'green'}">HTLV</p>
                            </label>
                        </div>
                    </div>
                </div>
                <ul class="copyright">
                    <li>&copy; Zario Software 2018</li>
                    </li>
                </ul>
            </div>
        </section>

</div>

<!-- Scripts -->
<script src="static/donor/assets/js/skel.min.js"></script>
<script src="static/donor/assets/js/jquery.min.js"></script>
<script src="static/donor/assets/js/jquery.scrollex.min.js"></script>
<script src="static/donor/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="static/donor/assets/js/main.js"></script>

</body>
</html>